.homepage-logo {
  display: flex;
  align-items: center;

  &__icon {
    padding-right: 25px;
    border-right: 2px solid #272727;
    margin-right: 25px;
  }

  &__img {
    height: 20px;
    width: 20px;
    margin: 2px 0;
  }

  &__text {
    font-family: 'Circe';
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
  }
}